html
  head
     script(type='text/javascript')
       function viewItem(){  
           var e = document.getElementById("things");
           var strUser = e.options[e.selectedIndex].value;
           window.location.href = '/view/' + strUser;
           }

  link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
  a(href='/')
  #logo
  h1= title

  #links
    H3 Manage your data
    ul
      li: a(href="/input/project_new")='Create a New Project'
      li: a(href="/input/sample_new")='Create a New Sample'
      li: a(href="/input/illumina_new")='Create a New Illumina Datasheet'
      li: a(href="/input/patient_new")='Create a New Patient Datasheet'
      
  
  
  #projects
    H3 Manage or edit a Project
    #projectselect
      span Select a project :
      select(id='things', name='things')
        - each project in projects 
          option(value=project._id)=project.proj_name
      input#rollButton(type="button", value="Edit", onclick="viewItem()")

    
    //-button onClick="GetSelectedItem();">Get Selected Item</button>
    //-a(href="/view/"+project._id)!= project.proj_name