link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1= title
form( method="post", enctype="multipart/form-data")
  input(type="hidden", name="projectid", value= projectid)
  #section1
    H3 Upload a new Nanodrop (.nd8) file:
    #div
      input(type="file", name="nanodrop_file", id="pickNanodropFile", required)
            //text/tab-separated-values  text/plain
    div#editArticleSubmit
      input(type="submit", value="add to project")
      input(type="button", value="Cancel", onClick="window.history.back(-1)")
  #section2
    H3 existing files for this project:
//    table
//      - each transaction in transactions
//        tr 
//          td.trlabel1 
//            b #{nanodrop.filename} 
//          td.trlabel2 #{transaction.amt } 
//          td.trdate #{transaction.date } 
