link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
H1 Error in Nanodrop.nd8 file
#section1
  p There was an error in the nanodrop file.  Duplicate records found:
  ul
  - for e in error
    li #{e}