link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1= title
form( method="post")
  #section1
    H3 Upload a new Nanodrop file:
    #div
      input(type="file", name="nanodrop_file", id="pickNanodropFile", required)
    div#editArticleSubmit
      input(type="submit", value="add to project")
      input(type="button", value="Cancel", onClick="window.history.back(-1)")
  #section2
    H3 existing files for this project:
    table
      - each transaction in transactions
        tr 
          td.trlabel1 
            b #{nanodrop.filename} 
          td.trlabel2 #{transaction.amt } 
          td.trdate #{transaction.date } 
