link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1= title
form( method="post")
    div
        div
            span Patient ID : 
            input(type="text", name="p_ident", id="editPatientIdentifier", required)
        div
            span Patient Notes:
            textarea( name="conc_notes", rows=5, id="editConcInfo")
        div#editPatientSubmit
            input(type="submit", value="Send")

            
            