link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1= title
form( method="post")
  #newinformation
    table
      tr
        td.label
          b Patient ID : 
        td
          input(type="text", name="p_ident", id="editPatientIdentifier", required)
      tr
        td
          b Patient Notes:
        td
          textarea( name="conc_notes", rows=5, id="editConcInfo")
    input(type="submit", value="Send")
    input(type="button", value="Cancel", onClick="window.history.back(-1)")
