link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1= title
h3= projectid
form( method="post")
  #newinformation
    H3 Enter your project Information:
    table
      tr
        td.label
          b Transaction type:
        td 
          select(name='transaction', required)
            - each tr in trtype 
              option(value=tr.desc)=tr.desc
      tr
        td
          b Transaction Amount (CAD$):
        td
          input(type="text", name="trans_amt", id="transact_amt", required)
      tr
        td
          b Transaction Date:
        td
          input(type="date", name="trans_date", id="transactionDate", required)
    div#editArticleSubmit
      input(type="submit", value="Save")
      input(type="button", value="Cancel", onClick="window.history.back(-1)")
            
            