link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1= title
form( method="post")
  div
            span "Nanodrop info" :
            div
                input(type="file", name="nanodrop1", id="editNanodrop1")
            div
                input(type="file", name="nanodrop2", id="editNanodrop2")
            div
                input(type="file", name="nanodrop3", id="editNanodrop3")
            // Nanodrop info (it's tab-delimited text, example attached)
            // This happens at least three times per sample)
            //APF: will need to store an array of files????  
            
        div
            div
                span Speedvac'd? :
                input(type="checkbox", name="speedvac", id="editSpeedvac")
            div
                span Concentration Notes:
                textarea( name="conc_notes", rows=5, id="editConcInfo")
            // final conc or final vol - possibly a complex field)
            
        div
            span Illumina tracking info :
            textarea( name="illumina_tracking", rows=5, id="editIlluminaInfo")
            
            // Meg: Illumina tracking for info (example attached) 
            // either fields or a place where we can scan and 
            // upload the document… not all fields are required, 
            // but the lot numbers for reagents are very important.
            // APF: Probably want to do this so that it opens a separate form.
            