link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
h1= title
form( method="post")
    div
        div
            span SampleName : 
            input(type="text", name="sample_name", id="editSampleName", required)
        div
            span Date Sample Arrived :
            input(type="date", name="arrival_date", id="editArrivalDate")
        div
            span Sentrix Barcode:
            input(type="text", name="arrival_date", id="editArrivalDate") 
        div
            span Sample Label"
            input(type="text", name="arrival_date", id="editArrivalDate")
        div
            span Sample_Well
            input(type="text", name="arrival_date", id="editArrivalDate")
        div
            span Current_Age
            input(type="text", name="arrival_date", id="editArrivalDate")
        div
            span Test_Date
            input(type="date", name="arrival_date", id="editArrivalDate")
        div
            span Sample Section
            input(type="text", name="arrival_date", id="editArrivalDate")
        div
            span Sample Group
            input(type="text", name="arrival_date", id="editArrivalDate")
        div
            //Sample type (drop down list?)
            span Sample Type :
            select(name='role') 
                option(value='Chip-Seq') ChIP-Seq 
                option(value='450k methylation array') 450k methylation array  
        div
            span "Nanodrop info" :
            div
                input(type="file", name="nanodrop1", id="editNanodrop1")
            div
                input(type="file", name="nanodrop2", id="editNanodrop2")
            div
                input(type="file", name="nanodrop3", id="editNanodrop3")
            // Nanodrop info (it's tab-delimited text, example attached)
            // This happens at least three times per sample)
            //APF: will need to store an array of files????  
            
        div
            div
                span Speedvac'd? :
                input(type="checkbox", name="speedvac", id="editSpeedvac")
            div
                span Concentration Notes:
                textarea( name="conc_notes", rows=5, id="editConcInfo")
            // final conc or final vol - possibly a complex field)
            
        div
            span Illumina tracking info :
            textarea( name="illumina_tracking", rows=5, id="editIlluminaInfo")
            
            // Meg: Illumina tracking for info (example attached) 
            // either fields or a place where we can scan and 
            // upload the document… not all fields are required, 
            // but the lot numbers for reagents are very important.
            // APF: Probably want to do this so that it opens a separate form.
            
        div
            span Date of Chip Run :
            input(type="date", name="chip_run_date", id="editChipRunDate")
        div#editArticleSubmit
            input(type="submit", value="Send")

            
            