link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1= title
#newinformation
  H3 Add Sample Names to the project
  form( method="post", enctype="multipart/form-data")
    input(type="hidden", name="projectid", value= projectid)
    div
      input(type="file", name="sample_file", id="Filename", required)
    div
      input(type="submit", value="add to project")
      input(type="button", value="Cancel", onClick="window.history.back(-1)")
