
#logo {
  display: block;
  width: 1000px;
  height:125px;
  background-image: url("/images/KoborLims2.png");
  //border: 1px solid red;
  //padding:0px 20px 10px 10px; 
  margin:5px 5px 5px 0px;
}

body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}

table, td{
  font-size: 13px;
  padding:0px 0px 0px 0px; 
  margin:0px 0px 0px 0px;
}

.tablethin{

}

.center {
  text-align:center;
}

.top {
  vertical-align:top;
}

.lines{
  border: 1px solid #aaaaaa;
  border-spacing: 0px;
  border-collapse:collapse;
  padding-left:2px;
  padding-right:0px;
}

.redwlines {
  text-align:center;
  background-color: #E65B77;
  border: 1px solid #aaaaaa;
  border-spacing: 0px;
  border-collapse:collapse;
  width:20px;
}

.greenwlines {
  text-align:center;
  background-color: #80FF80;
  border: 1px solid #aaaaaa;
  border-spacing: 0px;
  border-collapse:collapse;
  width:20px;
}

.whitewlines {
  text-align:center;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  border-spacing: 0px;
  border-collapse:collapse;
  width:20px;
}

.blackwlines {
  text-align:center;
  background-color: #000000;
  border: 1px solid #aaaaaa;
  border-spacing: 0px;
  border-collapse:collapse;
  width:20px;
}


.bluewlines {
  text-align:center;
  background-color: #5CADFF;
  border: 1px solid #aaaaaa;
  border-spacing: 0px;
  border-collapse:collapse;
  width:20px;
}

.greywlines {
  text-align:center;
  background-color: #B2B2B2;
  border: 1px solid #aaaaaa;
  border-spacing: 0px;
  border-collapse:collapse;
  width:20px;
}

.nanodropheader {
  padding-left:1em;
  
}

.r {
  text-align:right;
}

.l {
  text-align:left;
}

.trlabel1 { width:150px;text-align:left;}
.trlabel2 { width:150px;text-align:right;padding-right: 20px;  }
.trdate { width:100px;text-align:left;} 
.tramount { width:75px;text-align:right;padding-right: 20px;}
.tramountred { width:75px;text-align:right;padding-right: 20px;color:red;}

.label {
  width:160px;
}

.indent1 {
  padding-left:2em;
}

h3 {
  //margin: 0;
  color: Indigo;
}
h2 {
  //margin: 0;
  font-size: 24px;
  color: Navy;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 40px;
}

#links {
  background-color: Linen;
  text-align: left;
  width: 370px;
  float: left;
  padding:10px 20px 10px 10px; 
}
#links a         {text-decoration: none; color: Gray;}
#links a:visited {text-decoration: none; color: Gray;}
#links a:active  {text-decoration: none; color: Gray;}
#links a:link    {text-decoration: none; color: Gray;}

#links a:hover {
  text-decoration: underline;
  color: Black;
}

#projectoptions {
  //border: 1px solid red;
  width: 500px;
  float:left;
  padding:0px 20px 10px 10px; 
  margin:5px 5px 5px 5px;
  }

#projectoptions a         {text-decoration: none; color: Gray;}
#projectoptions a:visited {text-decoration: none; color: Gray;}
#projectoptions a:active  {text-decoration: none; color: Gray;}
#projectoptions a:link    {text-decoration: none; color: Gray;}
#projectoptions a:hover {
  text-decoration: underline;
  color: Black;
}

#projects {
  float:left;
  width: 500px;
  //border: 1px solid red;
}

#reporting {
  float:left;
  text-align: left;
  width: 95%;
  //border: 1px solid red;
  background-color: Gainsboro;
  padding:10px 20px 10px 10px; 
  margin:5px 5px 5px 0px;
}

#reporting a         {text-decoration: none; color: Gray;}
#reporting a:visited {text-decoration: none; color: Gray;}
#reporting a:active  {text-decoration: none; color: Gray;}
#reporting a:link    {text-decoration: none; color: Gray;}

#project {
  background-color: Linen;
  text-align: left;
  width: 95%;
  float: left;
  padding:0px 20px 10px 10px; 
  margin:5px 5px 5px 5px;

}

#project a         {text-decoration: none; padding:5px color: Gray;}
#project a:visited {text-decoration: none; color: Gray;}
#project a:active  {text-decoration: none; color: Gray;}
#project a:link    {text-decoration: none; color: Gray;}
#project a:hover   {
  text-decoration: underline;
  color: Black;
}

#newinformation {
  background-color: Linen;
  text-align: left;
  width: 400px;
  float: left;
  padding:0px 20px 10px 10px;
  margin:5px 5px 5px 5px; 
}

#transactiondetails, #samplesdetails, #nanodropdetails, #platedetails, #section1{
background-color: Gainsboro;
  text-align: left;
  width: 95%;
  float: left;
  padding:0px 20px 10px 10px;
  margin:5px 5px 5px 5px; 
}

#section2{
background-color: LightSteelBlue;
  text-align: left;
  width: 95%;
  float: left;
  padding:0px 20px 10px 10px;
  margin:5px 5px 5px 5px; 
}


#platedetails a         {text-decoration: none; color: Gray;}
#platedetails a:visited {text-decoration: none; color: Gray;}
#platedetails a:active  {text-decoration: none; color: Gray;}
#platedetails a:link    {text-decoration: none; color: Gray;}
#platedetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#nanodropdetails a         {text-decoration: none; color: Gray;}
#nanodropdetails a:visited {text-decoration: none; color: Gray;}
#nanodropdetails a:active  {text-decoration: none; color: Gray;}
#nanodropdetails a:link    {text-decoration: none; color: Gray;}
#nanodropdetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#samplesdetails a         {text-decoration: none; color: Gray;}
#samplesdetails a:visited {text-decoration: none; color: Gray;}
#samplesdetails a:active  {text-decoration: none; color: Gray;}
#samplesdetails a:link    {text-decoration: none; color: Gray;}
#samplesdetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#transactiondetails a         {text-decoration: none; color: Gray;}
#transactiondetails a:visited {text-decoration: none; color: Gray;}
#transactiondetails a:active  {text-decoration: none; color: Gray;}
#transactiondetails a:link    {text-decoration: none; color: Gray;}
#transactiondetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#section a         {text-decoration: none; color: Gray;}
#section a:visited {text-decoration: none; color: Gray;}
#section a:active  {text-decoration: none; color: Gray;}
#section a:link    {text-decoration: none; color: Gray;}
#section a:hover   {
  text-decoration: underline;
  color: Black;
