
#logo {
  display: block;
  width: 400px;
  height: 100px;
  background-image: url("/images/KoborLims.png");
  //border: 1px solid red;
  //padding:0px 20px 10px 10px; 
  margin:5px 5px 5px 0px;
}

body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
h2 {
  //margin: 0;
  font-size: 24px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 40px;
}

#links {
  background-color: Linen;
  text-align: left;
  width: 370px;
  float: left;
  padding:10px 20px 10px 10px; 
}
#links a         {text-decoration: none; color: Gray;}
#links a:visited {text-decoration: none; color: Gray;}
#links a:active  {text-decoration: none; color: Gray;}
#links a:link    {text-decoration: none; color: Gray;}

#links a:hover {
  text-decoration: underline;
  color: Black;
}

#projectoptions {
  //border: 1px solid red;
  width: 500px;
  float:left;
  padding:0px 20px 10px 10px; 
  margin:5px 5px 5px 5px;
  }

#projectoptions a         {text-decoration: none; color: Gray;}
#projectoptions a:visited {text-decoration: none; color: Gray;}
#projectoptions a:active  {text-decoration: none; color: Gray;}
#projectoptions a:link    {text-decoration: none; color: Gray;}
#projectoptions a:hover {
  text-decoration: underline;
  color: Black;
}

#projects {
  float:left;
  width: 500px;
  //border: 1px solid red;
}
#project {
  background-color: Linen;
  text-align: left;
  width: 95%;
  float: left;
  padding:0px 20px 10px 10px; 
  margin:5px 5px 5px 5px;

}

#project a         {text-decoration: none; padding:5px color: Gray;}
#project a:visited {text-decoration: none; color: Gray;}
#project a:active  {text-decoration: none; color: Gray;}
#project a:link    {text-decoration: none; color: Gray;}
#project a:hover   {
  text-decoration: underline;
  color: Black;
}

#newinformation {
  background-color: Linen;
  text-align: left;
  width: 400px;
  float: left;
  padding:0px 20px 10px 10px;
  margin:5px 5px 5px 5px; 
}

#transactiondetails, #samplesdetails, #nanodropdetails, #platedetails, #section{
background-color: Gainsboro;
  text-align: left;
  width: 95%;
  float: left;
  padding:0px 20px 10px 10px;
  margin:5px 5px 5px 5px; 
}


#platedetails a         {text-decoration: none; color: Gray;}
#platedetails a:visited {text-decoration: none; color: Gray;}
#platedetails a:active  {text-decoration: none; color: Gray;}
#platedetails a:link    {text-decoration: none; color: Gray;}
#platedetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#nanodropdetails a         {text-decoration: none; color: Gray;}
#nanodropdetails a:visited {text-decoration: none; color: Gray;}
#nanodropdetails a:active  {text-decoration: none; color: Gray;}
#nanodropdetails a:link    {text-decoration: none; color: Gray;}
#nanodropdetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#samplesdetails a         {text-decoration: none; color: Gray;}
#samplesdetails a:visited {text-decoration: none; color: Gray;}
#samplesdetails a:active  {text-decoration: none; color: Gray;}
#samplesdetails a:link    {text-decoration: none; color: Gray;}
#samplesdetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#transactiondetails a         {text-decoration: none; color: Gray;}
#transactiondetails a:visited {text-decoration: none; color: Gray;}
#transactiondetails a:active  {text-decoration: none; color: Gray;}
#transactiondetails a:link    {text-decoration: none; color: Gray;}
#transactiondetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#section a         {text-decoration: none; color: Gray;}
#section a:visited {text-decoration: none; color: Gray;}
#section a:active  {text-decoration: none; color: Gray;}
#section a:link    {text-decoration: none; color: Gray;}
#section a:hover   {
  text-decoration: underline;
  color: Black;

