body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
h2 {
  margin: 0;
  font-size: 18px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 40px;
}
#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

#articles .article .created_at {
  display: none;
}
#articles .article .title {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}


#links {
  background-color: Linen;
  text-align: left;
  width: 200px;
  float: left;
  padding:10px 20px 10px 10px; 
}
#links a         {text-decoration: none; color: Gray;}
#links a:visited {text-decoration: none; color: Gray;}
#links a:active  {text-decoration: none; color: Gray;}
#links a:link    {text-decoration: none; color: Gray;}

#links a:hover {
  text-decoration: underline;
  color: Black;
}

#projectoptions {
  //border: 1px solid red;
  width: 500px;
  float:left;
  padding:0px 20px 10px 10px; 
  margin:5px 5px 5px 5px;
  }

#projectoptions a         {text-decoration: none; color: Gray;}
#projectoptions a:visited {text-decoration: none; color: Gray;}
#projectoptions a:active  {text-decoration: none; color: Gray;}
#projectoptions a:link    {text-decoration: none; color: Gray;}
#projectoptions a:hover {
  text-decoration: underline;
  color: Black;
}

#projects {
  float:left;
  width: 500px;
  //border: 1px solid red;
}
#project {
  background-color: Linen;
  text-align: left;
  width: 300px;
  float: left;
  padding:0px 20px 10px 10px; 
  margin:5px 5px 5px 5px;

}

#newinformation {
  background-color: Linen;
  text-align: left;
  width: 400px;
  float: left;
  padding:0px 20px 10px 10px;
  margin:5px 5px 5px 5px; 
}

#transactiondetails, #samplesdetails, #nanodropdetails, #barcodedetails{
background-color: Gainsboro;
  text-align: left;
  width: 95%;
  float: left;
  padding:0px 20px 10px 10px;
  margin:5px 5px 5px 5px; 
}


#barcodedetails a         {text-decoration: none; color: Gray;}
#barcodedetails a:visited {text-decoration: none; color: Gray;}
#barcodedetails a:active  {text-decoration: none; color: Gray;}
#barcodedetails a:link    {text-decoration: none; color: Gray;}
#barcodedetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#nanodropdetails a         {text-decoration: none; color: Gray;}
#nanodropdetails a:visited {text-decoration: none; color: Gray;}
#nanodropdetails a:active  {text-decoration: none; color: Gray;}
#nanodropdetails a:link    {text-decoration: none; color: Gray;}
#nanodropdetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#samplesdetails a         {text-decoration: none; color: Gray;}
#samplesdetails a:visited {text-decoration: none; color: Gray;}
#samplesdetails a:active  {text-decoration: none; color: Gray;}
#samplesdetails a:link    {text-decoration: none; color: Gray;}
#samplesdetails a:hover   {
  text-decoration: underline;
  color: Black;
}

#transactiondetails a         {text-decoration: none; color: Gray;}
#transactiondetails a:visited {text-decoration: none; color: Gray;}
#transactiondetails a:active  {text-decoration: none; color: Gray;}
#transactiondetails a:link    {text-decoration: none; color: Gray;}
#transactiondetails a:hover   {
  text-decoration: underline;
  color: Black;
}

