extends base

block title
    | Human Epigenetics Database

block content
    article
        header
            h1 Collections
        :markdown
            Here are the following collections in the database