html
  head
  link(rel='stylesheet', href='/static/templatestyle.css', type='text/css' )
  a(href='/')

body
  #header
     h1 Human Epigenetics Database Access
  #wrapper
    #navigation
      #padding-div
        h2 Available pages:
        ul
          li: a(href='http://kobor.cmmt.ubc.ca') Kobor Computing Home Page
          li: a(href='http://kruncher.cmmt.ubc.ca:3000/login') Kobor Lab Lims
          //li: a(href!='{% url 'base' %}') Home
          //li: a(href!='{% url 'collections' %}') Collections
          li: a(href!='{% url 'query_form' %}') Query the database
          li: | Coming Soon - Update Sample Information
          
        h2 Examples:
        ul
          li: a(href="http://kruncher.cmmt.ubc.ca:8880/dbaccess/query_form/?chromosome=X&start=73070684&end=73073062&organism=human&collection=methylation&project=CARE&action=LessLeft&tss=true&cpg=true&datapoints=true&show_dist=true&width=1308&height=920&types_index=%7B'Male'%3A%20'%23FF00FF'%2C%20'Female'%3A%20'%23CCCC00'%7D&sample_index=%7B'Male-CARE052M'%3A%20'%23ffa7ff'%2C%20'Female-CARE076F'%3A%20'%23535E00'%2C%20'Male-CARE085M'%3A%20'%23ffccff'%2C%20'Female-CARE038F'%3A%20'%23A4A700'%2C%20'Male-CARE048M'%3A%20'%23ffccff'%2C%20'Male-CARE008M'%3A%20'%23ff82ff'%2C%20'Female-CARE028F'%3A%20'%23455200'%2C%20'Male-CARE012M'%3A%20'%23ff38ff'%2C%20'Female-CARE067F'%3A%20'%23384600'%2C%20'Male-CARE066M'%3A%20'%23ff6fff'%2C%20'Male-CARE082M'%3A%20'%23ff5dff'%2C%20'Female-CARE017F'%3A%20'%236E7700'%2C%20'Male-CARE095M'%3A%20'%23ff4aff'%2C%20'Female-CARE086F'%3A%20'%23384600'%2C%20'Male-CARE009M'%3A%20'%23ff25ff'%2C%20'Male-CARE031M'%3A%20'%23ff94ff'%2C%20'Male-CARE015M'%3A%20'%23ff94ff'%2C%20'Female-CARE096F'%3A%20'%23898F00'%2C%20'Female-CARE058F'%3A%20'%237B8300'%2C%20'Female-CARE010F'%3A%20'%23A4A700'%2C%20'Male-CARE036M'%3A%20'%23ffb9ff'%2C%20'Male-CARE003M'%3A%20'%23ff5dff'%2C%20'Male-CARE098M'%3A%20'%23ff13ff'%2C%20'Female-CARE035F'%3A%20'%23B1B400'%2C%20'Male-CARE042M'%3A%20'%23ff38ff'%2C%20'Female-CARE062F'%3A%20'%23606B00'%2C%20'Male-CARE073M'%3A%20'%23ff94ff'%2C%20'Male-CARE087M'%3A%20'%23ff82ff'%2C%20'Female-CARE102F'%3A%20'%236E7700'%2C%20'Female-CARE099F'%3A%20'%23384600'%2C%20'Female-CARE091F'%3A%20'%23969B00'%2C%20'Male-CARE022M'%3A%20'%23ff25ff'%2C%20'Male-CARE034M'%3A%20'%23ff6fff'%2C%20'Female-CARE097F'%3A%20'%23BFC000'%2C%20'Female-CARE059F'%3A%20'%23898F00'%2C%20'Male-CARE053M'%3A%20'%23ff4aff'%2C%20'Female-CARE004F'%3A%20'%23898F00'%2C%20'Male-CARE093M'%3A%20'%23ffa7ff'%2C%20'Female-CARE051F'%3A%20'%23455200'%2C%20'Female-CARE084F'%3A%20'%23BFC000'%2C%20'Male-CARE023M'%3A%20'%23ffa7ff'%2C%20'Male-CARE033M'%3A%20'%23ff4aff'%2C%20'Female-CARE029F'%3A%20'%23cccc00'%2C%20'Male-CARE013M'%3A%20'%23ff00ff'%2C%20'Male-CARE069M'%3A%20'%23ff82ff'%2C%20'Male-CARE044M'%3A%20'%23ffb9ff'%2C%20'Male-CARE011M'%3A%20'%23ff82ff'%2C%20'Female-CARE072F'%3A%20'%23cccc00'%2C%20'Female-CARE064F'%3A%20'%23535E00'%2C%20'Male-CARE075M'%3A%20'%23ffa7ff'%2C%20'Male-CARE056M'%3A%20'%23ffccff'%2C%20'Male-CARE061M'%3A%20'%23ffccff'%2C%20'Male-CARE019M'%3A%20'%23ffb9ff'%2C%20'Male-CARE050M'%3A%20'%23ff13ff'%2C%20'Male-CARE089M'%3A%20'%23ff13ff'%2C%20'Female-CARE024F'%3A%20'%23535E00'%2C%20'Male-CARE020M'%3A%20'%23ff25ff'%2C%20'Male-CARE045M'%3A%20'%23ffb9ff'%2C%20'Male-CARE074M'%3A%20'%23ff6fff'%2C%20'Male-CARE002M'%3A%20'%23ffb9ff'%2C%20'Female-CARE043F'%3A%20'%23B1B400'%2C%20'Male-CARE018M'%3A%20'%23ff6fff'%2C%20'Female-CARE090F'%3A%20'%23969B00'%2C%20'Male-CARE021M'%3A%20'%23ff6fff'%2C%20'Female-CARE016F'%3A%20'%23969B00'%2C%20'Female-CARE088F'%3A%20'%237B8300'%2C%20'Male-CARE037M'%3A%20'%23ff5dff'%2C%20'Female-CARE092F'%3A%20'%23B1B400'%2C%20'Male-CARE046M'%3A%20'%23ff4aff'%2C%20'Male-CARE077M'%3A%20'%23ff94ff'%2C%20'Male-CARE054M'%3A%20'%23ff5dff'%2C%20'Female-CARE001F'%3A%20'%23606B00'%2C%20'Male-CARE083M'%3A%20'%23ff94ff'%2C%20'Female-CARE070F'%3A%20'%23455200'%2C%20'Female-CARE025F'%3A%20'%23A4A700'%2C%20'Female-CARE078F'%3A%20'%23cccc00'%2C%20'Male-CARE030M'%3A%20'%23ff13ff'%2C%20'Male-CARE101M'%3A%20'%23ff00ff'%2C%20'Male-CARE014M'%3A%20'%23ff82ff'%2C%20'Female-CARE081F'%3A%20'%23BFC000'%2C%20'Male-CARE026M'%3A%20'%23ff38ff'%2C%20'Female-CARE032F'%3A%20'%236E7700'%2C%20'Male-CARE068M'%3A%20'%23ff00ff'%2C%20'Male-CARE047M'%3A%20'%23ff38ff'%2C%20'Female-CARE065F'%3A%20'%23cccc00'%2C%20'Male-CARE057M'%3A%20'%23ff25ff'%2C%20'Female-CARE055F'%3A%20'%23606B00'%2C%20'Male-CARE080M'%3A%20'%23ff00ff'%2C%20'Female-CARE071F'%3A%20'%237B8300'%2C%20'Male-CARE060M'%3A%20'%23ffa7ff'%2C%20'Female-CARE079F'%3A%20'%23B1B400'%2C%20'Male-CARE100M'%3A%20'%23ffccff'%2C%20'Male-CARE027M'%3A%20'%23ff5dff'%2C%20'Female-CARE039F'%3A%20'%23BFC000'%7D") Xist
         
        h2 Kobor R servers:
        ul 
          li: a(href='http://kore.cmmt.ubc.ca:8787/') Kore
          li: a(href='http://kandy.cmmt.ubc.ca:8787/') Kandy
          li: a(href='http://echelon.cmmt.ubc.ca:8787/') Echelon
        h2 Want something new?
        p If you want to know something about the data stored in the database, or have ideas about things we could learn about the data, please don't hesitate to say something! It's not hard to add new functions here. 
    #content
      #padding-div 
        h2 Welcome to the Kobor lab's human epigenetics database.
        p.content This database is currently being developed and is undergoing rapid change.   
          | Please feel free to use the web site, but be prepared for momentary glitches.  If
          | a bug seems to persist more than a few minutes, please send an email to Anthony 
          | (afejes@cmmt.ubc.ca)
        H3 Outstanding Work:
        ul
          li Move legend out of figure
          li select data sets independently
          li More data!
          li better ability to select chip-seq and methylation together from different datasets
        p.content if you have a suggestion, or would like one of the above to be moved up in priority, please say so!  The deveopment plan is flexible.

       
        h3 Past Contributors to the project
        ul 
          li Jake Yeung
          li Sarah Perez
        
  #footersmall
    #padding-div
      p Running from the Kobor Lab @ the CMMT