html
  head
  link(rel='stylesheet', href='/static/templatestyle.css', type='text/css' )
  a(href='/')
  title Epigenegics Database Browser

body
  #header
    a(href='/dbaccess/')
      block title
        h1 Epigenetics Database
  #subheader
    if user
      #white
        input(type="hidden", id="user", name="user", value=user)
        if not user.id
          a(href='/dbaccess/loginpage', class='white') log in &nbsp;
        else
          | logged in as !{user}&nbsp;|
          a(href='/dbaccess/logout', class='white') log out&nbsp;
    else
      a(href='/dbaccess/loginpage', class='white') log in&nbsp;
  #wrapper
    #navigation
      #padding-div
        h2 Available pages:
        ul
          li: a(href='/dbaccess/query_form/') Query the database
          li: a(href='/dbaccess/metadata/') Update Sample Information
          
        h2 Examples:
        ul
          li: a(href="/dbaccess/query_form/?chromosome=chrX&start=73040486&end=73072588&organism=human&collection=methylation&methylation=CARE&groupby=gender&chipseq=&action=ZoomOut&minheight=0&minsigma=0&datapoints=true&width=1600&height=800&types_index=%7B'Male'%3A%20'%230000ff'%2C%20'Female'%3A%20'%2300FF00'%7D&sample_index=%7B'Male-CARE052M'%3A%20'%23a7a7ff'%2C%20'Female-CARE076F'%3A%20'%2385E685'%2C%20'Male-CARE085M'%3A%20'%23ccccff'%2C%20'Male-CARE030M'%3A%20'%231313ff'%2C%20'Male-CARE048M'%3A%20'%23ccccff'%2C%20'Male-CARE008M'%3A%20'%238282ff'%2C%20'Female-CARE028F'%3A%20'%2393E993'%2C%20'Male-CARE012M'%3A%20'%233838ff'%2C%20'Female-CARE067F'%3A%20'%23A2ECA2'%2C%20'Male-CARE066M'%3A%20'%236f6fff'%2C%20'Male-CARE082M'%3A%20'%235d5dff'%2C%20'Female-CARE017F'%3A%20'%2367E067'%2C%20'Male-CARE095M'%3A%20'%234a4aff'%2C%20'Female-CARE086F'%3A%20'%23A2ECA2'%2C%20'Male-CARE009M'%3A%20'%232525ff'%2C%20'Male-CARE031M'%3A%20'%239494ff'%2C%20'Male-CARE015M'%3A%20'%239494ff'%2C%20'Female-CARE096F'%3A%20'%234ADB4A'%2C%20'Female-CARE058F'%3A%20'%2358DD58'%2C%20'Female-CARE010F'%3A%20'%232CD52C'%2C%20'Female-CARE032F'%3A%20'%2367E067'%2C%20'Male-CARE003M'%3A%20'%235d5dff'%2C%20'Male-CARE098M'%3A%20'%231313ff'%2C%20'Male-CARE053M'%3A%20'%234a4aff'%2C%20'Male-CARE042M'%3A%20'%233838ff'%2C%20'Female-CARE062F'%3A%20'%2376E376'%2C%20'Male-CARE073M'%3A%20'%239494ff'%2C%20'Male-CARE087M'%3A%20'%238282ff'%2C%20'Female-CARE102F'%3A%20'%2367E067'%2C%20'Female-CARE099F'%3A%20'%23A2ECA2'%2C%20'Female-CARE091F'%3A%20'%233BD83B'%2C%20'Male-CARE022M'%3A%20'%232525ff'%2C%20'Male-CARE034M'%3A%20'%236f6fff'%2C%20'Female-CARE097F'%3A%20'%230FCF0F'%2C%20'Female-CARE059F'%3A%20'%234ADB4A'%2C%20'Female-CARE004F'%3A%20'%234ADB4A'%2C%20'Male-CARE093M'%3A%20'%23a7a7ff'%2C%20'Female-CARE051F'%3A%20'%2393E993'%2C%20'Female-CARE084F'%3A%20'%230FCF0F'%2C%20'Male-CARE023M'%3A%20'%23a7a7ff'%2C%20'Male-CARE033M'%3A%20'%234a4aff'%2C%20'Female-CARE029F'%3A%20'%2300cc00'%2C%20'Male-CARE013M'%3A%20'%230000ff'%2C%20'Male-CARE069M'%3A%20'%238282ff'%2C%20'Male-CARE044M'%3A%20'%23b9b9ff'%2C%20'Male-CARE011M'%3A%20'%238282ff'%2C%20'Female-CARE072F'%3A%20'%2300cc00'%2C%20'Female-CARE064F'%3A%20'%2385E685'%2C%20'Male-CARE075M'%3A%20'%23a7a7ff'%2C%20'Male-CARE056M'%3A%20'%23ccccff'%2C%20'Male-CARE061M'%3A%20'%23ccccff'%2C%20'Male-CARE019M'%3A%20'%23b9b9ff'%2C%20'Male-CARE050M'%3A%20'%231313ff'%2C%20'Male-CARE089M'%3A%20'%231313ff'%2C%20'Male-CARE060M'%3A%20'%23a7a7ff'%2C%20'Male-CARE020M'%3A%20'%232525ff'%2C%20'Male-CARE045M'%3A%20'%23b9b9ff'%2C%20'Male-CARE074M'%3A%20'%236f6fff'%2C%20'Male-CARE002M'%3A%20'%23b9b9ff'%2C%20'Female-CARE043F'%3A%20'%231DD21D'%2C%20'Male-CARE018M'%3A%20'%236f6fff'%2C%20'Female-CARE090F'%3A%20'%233BD83B'%2C%20'Female-CARE035F'%3A%20'%231DD21D'%2C%20'Male-CARE021M'%3A%20'%236f6fff'%2C%20'Female-CARE016F'%3A%20'%233BD83B'%2C%20'Female-CARE088F'%3A%20'%2358DD58'%2C%20'Male-CARE037M'%3A%20'%235d5dff'%2C%20'Female-CARE092F'%3A%20'%231DD21D'%2C%20'Male-CARE046M'%3A%20'%234a4aff'%2C%20'Male-CARE077M'%3A%20'%239494ff'%2C%20'Male-CARE054M'%3A%20'%235d5dff'%2C%20'Female-CARE001F'%3A%20'%2376E376'%2C%20'Male-CARE083M'%3A%20'%239494ff'%2C%20'Female-CARE070F'%3A%20'%2393E993'%2C%20'Female-CARE025F'%3A%20'%232CD52C'%2C%20'Female-CARE078F'%3A%20'%2300cc00'%2C%20'Female-CARE038F'%3A%20'%232CD52C'%2C%20'Male-CARE101M'%3A%20'%230000ff'%2C%20'Male-CARE014M'%3A%20'%238282ff'%2C%20'Female-CARE081F'%3A%20'%230FCF0F'%2C%20'Male-CARE026M'%3A%20'%233838ff'%2C%20'Male-CARE036M'%3A%20'%23b9b9ff'%2C%20'Male-CARE068M'%3A%20'%230000ff'%2C%20'Male-CARE047M'%3A%20'%233838ff'%2C%20'Female-CARE065F'%3A%20'%2300cc00'%2C%20'Male-CARE057M'%3A%20'%232525ff'%2C%20'Female-CARE055F'%3A%20'%2376E376'%2C%20'Male-CARE080M'%3A%20'%230000ff'%2C%20'Female-CARE071F'%3A%20'%2358DD58'%2C%20'Female-CARE024F'%3A%20'%2385E685'%2C%20'Female-CARE079F'%3A%20'%231DD21D'%2C%20'Male-CARE100M'%3A%20'%23ccccff'%2C%20'Male-CARE027M'%3A%20'%235d5dff'%2C%20'Female-CARE039F'%3A%20'%230FCF0F'%7D") XIST
        h2 Want something new?
        p.content If you want to know something about the data stored in the database, or have ideas about things we could learn about the data, please don't hesitate to say something! It's not hard to add new functions here. 
    #content
      block content
        #padding-div 
          if message
            h2 !{message}
            hr
          h2 Welcome to the Epigenetics database.
          p.content This database is currently being developed and is undergoing rapid change.   
            | Please feel free to use the web site, but be prepared for momentary glitches.  If
            | a bug seems to persist more than a few minutes, please send an email to Anthony Fejes 
            | (afejes@cmmt.ubc.ca)
          p.content Please check out 
            a(href="https://github.com/apfejes/epigenetics-software/issues?state=open") the open issue list 
            | for the project.  If you would like to suggest new features, that is a great place to do so! 
          
          p.content If you have a suggestion, or would like one of the above to be moved up in priority, please say so!  The development plan is flexible.
  
          h3 Current Contributors to the project:
          ul 
            li Anthony Fejes
          p.content If you'd like to participate in the project, please feel free to pull a copy and start playing with it!  The more the merrier! 
         
          h3 Past Contributors to the project
          ul 
            li Jake Yeung
            li Sarah Perez
            li Scott Brown
          
  #footersmall
    #padding-div
      a(href="https://github.com/apfejes/epigenetics-software") Epigenetics Software Project 
      | at
      a(href="https://github.com") Github

      
block script 