html
  head
  link(rel='stylesheet', href='/static/templatestyle.css', type='text/css' )
  a(href='/')

body
    #header
        h1 Human Epigenetics Database Access
    #wrapper
        #navigation
           ul
             li: a(href!='{% url 'base' %}') Home
             li: a(href!='{% url 'collections' %}') Collections
             li: a(href!='{% url 'query_form' %}') Query the database
        #content
                image
                    embed(src!='{% url 'svgcode' %}', scrolling = 'no', width='750', height = '180')
        p.footersmall Running from the Kobor Lab @ the CMMT