html
  head
  link(rel='stylesheet', href='/static/templatestyle.css', type='text/css' )
  a(href='/')

body
  #header
     h1 Human Epigenetics Database Access
  #wrapper
    #navigation
      #padding-div
        h2 Available pages:
        ul
          li: a(href!='{% url 'base' %}') Home
          //li: a(href!='{% url 'collections' %}') Collections
          li: a(href!='{% url 'query_form' %}') Query the database
    #content
      #padding-div 
        p.content Welcome to the Kobor lab's human epigenetics database.
        image
          embed(src!='{% url 'svgcode' %}', width = '100%')
  #footersmall
    #padding-div
      p Running from the Kobor Lab @ the CMMT