extends base

block title
    | Human Epigenetics Database


block content
    article
        header
            h2 ChipSeq Data
        block intro
            p Here is an example of the peaks from a Chipseq experiment.
            
        image
            embed(src!='{% url 'chipseq_code' %}', width='1200', height = '400')
            
            