extends base

block title
	| Human Epigenetics Database


block content
	article
		header
			h2 Query the database
		block intro
			p Please fill in the query parameters to launch the visualization:
		block text
			embed(src!='{% url 'collection_names' %}')