extends base

block title
    h1 Collections

block content
  #padding-div 
    h2 Collections available:
    p This page is for debugging purposes, and allows you to see what collections (tables) are available in a database named 'human_epigenetics', if it exists.  It also extends the base.jade template, so if this page looks nicer than the collections.jade would have you expect, that part is working too. 
    p !{collections}
