extends base

block title
    | Human Epigenetics Database


block content
    article
        header
            h2 Collections
        block intro
            p The following are the collections of data available:
            
        block text
            embed(src!='{% url 'collection_names' %}')
            