extends base

block title
    h1 Epigenetics Database - View/Edit Meta Data

block content
  #padding-div 
    h2 MetaData Editing - Deleting a project!
    form(name="main", id="main", action='/dbaccess/deleteproject/', method='post')
      input(type="hidden", id="confirm", name="confirm", value="True")
      input(type="hidden", id="organism", name="organism", value=organism)
      input(type="hidden", id="project", name="project", value=project)
      p You have requested the deletion of all samples and data from the "!{project}" project. 
      p If you are sure you'd like to continue, press the continue button below.
      input(type='submit', value = 'Continue', title="Continue", name='Continue')
      
    
