extends base

block title
    h1 Epigenetics Database - View/Edit Meta Data

block content
  #padding-div 
    h2 MetaData: Import Completed!
    p !{project} has been imported.
    p !{samples} samples processed.
    p !{methylrows} rows added.
    p Time required: !{timetaken} seconds
       
