extends base

block title
    h1 Epigenetics Database - View/Edit Meta Data

block content
  #padding-div 
    h2 MetaData Editing - completed 
    p Data has been saved - please refresh any open browser windows to see the changes you've made.
      | &nbsp;You can now close this window to continue.
    input(type="button", value="Close", onClick="window.close(-1)")
    
