body {
  width:95%;
  margin:0 auto;
  margin-top:30px;
}

h1 {
  font-size: 50px;
  color: linen;
  margin-top:5px;
}

h2 { 
  font-size: 18px; 
  color: #2b34e4; 
}
h3 { 
  font-size: 14px; 
}

.footersmall{
   font-family: Verdana;
   font-size: 10px;
   background-color: #eee;
   }
   
main {
   font-family: Verdana;
   font-size: 14px;
   color: #000000;
   }
   
a:hover { color: #F76F76; }
a { color: #f38227 }
b { color: #f38227 }


#header {
  width:100%;
  height:100px;
  text-align:center;
  color:#ffffff;
  padding:25px 0px 0px 0px;
  background:url('/static/header.jpg')
}

#wrapper{
  width:100%;
  /*background:url('/static/header.jpg')*/ repeat-y; /* WARNING: IF YOU CHANGE THE COLORS OF THE LAYOUT YOU HAVE TO CHANGE THIS IMAGE! */
  overflow:auto; /* USE FIREFOX GUYS! WE ONLY NEED THIS LINE BECAUSE INTERNET EXPLODER ISN'T READING CODE PROPERLY */
  margin-top:10px;
}

#navigation {
  width:250px;
  min-height:500px; /* for modern browsers */
  height:auto !important; /* for modern browsers */
  height:500px; /* for IE5.x and IE6 */
  background-color:#333333;
  float:left;
}

#content { 
  margin-left:270px;
  width:73%;
  min-height:500px; /* for modern browsers */
  height:auto !important; /* for modern browsers */
  height:500px; /* for IE5.x and IE6 */
  background-color:#333333;
  /*margin-top:10px;*/
}


#option_elements {
  overflow:auto;
  text-align:center;
  width:100%
}

#zoompan {
  overflow:auto;
  text-align:center;
  width:100%
}

#selection_element {
  padding-left: 10px;
  padding-right: 10px;
  display:inline-block;
}

#footer { 
  margin-top:10px;
  width:750px;
  height:100px;
  background-color:#333333;
}

paginate{font-family:Arial,Helvetica,sans-serif;padding:3px;margin:3px;}
.bigbutton{cursor: pointer; 
       background-color: transparent;border:2px solid #999;
       text-decoration:none;
       color:#660099;
       font-weight:bold;
}
.medbutton{cursor: pointer; 
       background-color: transparent;border:2px solid #999;
       text-decoration:none;
       color:#660099;
       font-weight:bold;
}

input[type="submit"]:hover{
    border:1px solid #999;color:#000000;
}




